.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-footer-height);
}

.fixed-bottom {
  z-index: 1000;
}

@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
    text-align: center;
    height: var(--nav-footer-height);
  }
}
